@model IEnumerable<DATA.Entity.vehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .thumbnail-image {
        max-width: 100px; /* Điều chỉnh giá trị max-width theo nhu cầu của bạn */
        height: auto; /* Đảm bảo tỷ lệ chiều rộng/cao tự động được duy trì */
        display: block; /* Để ngăn ảnh bị căng khi được thay đổi kích thước */
        margin: 0 auto; /* Để căn giữ ảnh giữa */
        border: 1px solid #ddd; /* Thêm đường viền cho ảnh */
        padding: 5px; /* Thêm khoảng trắng xung quanh ảnh */
        border-radius: 5px; /* Làm cho góc của ảnh trở nên tròn */
    }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên xe
        </th>
        <th>
            Biển số
        </th>
        <th>
            Loại xe
        </th>
        <th>
            Avatar
        </th>
        <th>
            Thuộc nhà xe
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.license_plate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            <img src="@item.avatar" alt="Avatar" class="thumbnail-image"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bus.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
